/* COUNTER */
.cart__counter span {
    vertical-align: 7px;
    font-size: 14px;
    margin-left: 5px;
}

/* popUp ACTIVE */
.cart__items.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* popUp inner */
.check_out {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.check_out h4 {
    font-size: 20px;
}
@media screen and (max-width: 767px) {
    .check_out h4 {
        font-size: 17px;
    }
}

.total__cost {
    color: var(--orange);
}

.small-btn {
    background: var(--black);
    color: var(--white);
    padding: 10px 15px;
    border: .2rem solid var(--orange);
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    margin-left: 20px;
}
.small-btn:hover {
    color: var(--orange);
}

/* --- Products in Cart --- */
.cart_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 700px;
    border-bottom: 1px dashed #f6b08c;
    max-height: 70px;
}
@media screen and (max-width: 767px) {
    .cart_item {
        justify-content: center;
        width: 324px;
    }
}

.cart_item > * {
    margin: 20px;
}
@media screen and (max-width: 767px) {
    .cart_item > * {
        margin: 7px;
    }
}

.cart_item img {
    height: 60px;
    min-width: 40px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup:target .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}
.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content {
    background-color: var(--white);
    color: var(--black);
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    border-radius: 0.5rem;
}
@media screen and (max-width: 767px) {
    .popup__content {
        width: 334px;
        padding: 5px;
    }
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}
.popup__close:hover {
    color: var(--orange);
}

.product__quantity,
#best__item-price,
.total__cost {
    font-size: 20px;
}
