@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --orange: #FF851B;
    --white: #fff;
    --silver: #ddd;
    --black: #333;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection {
    background-color: var(--orange);
    color: var(--white);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.title {
    text-align: center;
    padding: 2.5rem 0;
}

.title span {
    font-size: 3.5rem;
    background: rgba(255, 165, 0,.2);
    color: var(--black);
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color: var(--white);
    padding:.8rem 3rem;
    border:.2rem solid var(--orange);
    border-radius: 1rem;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 900;
}
.btn:hover {
    background: rgba(255, 165, 0,.2);
    border-color: var(--silver);
    color: var(--white);
}

/* ----- HEADER ----- */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--black);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header__logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--white);
}

.header__logo span {
    color: var(--orange);
    text-transform: uppercase;
}

.header__navbar a {
    color: var(--white);
    font-size: 2rem;
    margin: 0 .8rem;
}

.header__navbar a:hover {
    color: var(--orange);
}
/* --- HEADER-END --- */

/* ----- HOME ----- */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home__content {
    text-align: center;
}

.home__content h3 {
    font-size: 6rem;
    color: var(--orange);
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home__content p {
    font-size: 3.5rem;
    color: var(--white);
    padding: .5rem 0;
    font-weight: 900;
}

.home__video-container video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* --- HOME-END --- */

/* ----- BEST SELLERS ----- */
.best {
    min-height: 93vh;
}

.best__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.best__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2rem;
    width: 250px;
    max-width: 250px;
}

.best__item-cart-adding.btn {
    display: none;
}

.best__item-cart:hover .best__item-cart-adding.btn {
    animation: best__item-cart .3s ease-in-out;
    display: block;
    position: absolute;
    margin-top: 165px;
    text-align: center;
    color: var(--white);
    background-color: var(--black);
}
@keyframes best__item-cart {
    0% { opacity: 0; }
    10% { opacity: 0.1; }
    20% { opacity: 0.2; }
    30% { opacity: 0.3; }
    40% { opacity: 0.4; }
    50% { opacity: 0.5; }
    60% { opacity: 0.6; }
    70% { opacity: 0.7; }
    80% { opacity: 0.8; }
    90% { opacity: 0.9; }
    100% { opacity: 1; }
}

.best__item-cart:hover .best__item-cart-adding.btn:hover {
    color: var(--orange);
    border-color: var(--orange);
}

.best__item-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.best__item-img {
    margin: auto;
    max-width: 200px;
    pointer-events: none;
}

.best__item-title {
    font-size: 2rem;
    color: var(--black);
    text-align: center;
    margin-bottom: 1rem;
    min-height: 56px;
    max-height: 56px;
    min-width: 150px;
    max-width: 150px;
    overflow-wrap: break-word;
}

.best__item-stars {
    display: flex;
    justify-content: center;
    color: var(--orange);
    margin-bottom: 1rem;
}

.best__item-price {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.best__intro {
    background-color: #E6E6E6;
    padding-top: 20px;
    min-height: 45vh;
}

.best__intro-inner {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px 20px;
}

.best__intro-img {
    max-width: 100%;
}

.best__intro-inner p {
    font-size: 20px;
    line-height: 1.6;
    margin-top: 40px;
}
/* --- BEST SELLERS-END --- */
